services:
  backend:
    build:
      context: .
    volumes:
      - ..:/app
    ports:
      - 3000:3000
      - 5173:5173
    working_dir: /app
    command: sleep infinity
    stop_grace_period: 2s
    depends_on:
      - db
    networks:
      - app-network
  db:
    image: postgres:14.3
    ports:
      - 5432:5432
    volumes:
      - ../database/create.sql:/docker-entrypoint-initdb.d/init.sql
    env_file:
      - ../.env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
